@import "../../codifier/nomenclature/nomen-item/nomen-item.component"

.record
  border-top: solid #212529 thin
  div
    text-align: center
    padding: .5rem 0
    font-size: .8rem
  &.head
    div
      text-align: center!important
  .performerID, .standardSize
    word-break: break-all
