<nav class="navbar sticky-top  navbar-dark bg-dark" >
  <div class="content">
    <div>
    <button class="navbar-toggler"
            (click)="showSideMenu()"
            [ngClass]="{'toggled': sideMenuShown}"
            type="button"
            aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/"><div class="logo p-1">ЭБП СМЭУ</div></a>
    </div>
    <div class="navbar-expand" id="mainMenu">
      <ul class="navbar-nav">
        <app-nav-item [route]="route" *ngFor="let route of routes"></app-nav-item>
        <li class="nav-item " routerLinkActive="active" style="display: flex;align-items: baseline;">
          <a class="nav-link mt-1" routerLink="/login" (click)="this.loginout()">{{this.isLoggedIn ? 'Выход' : 'Вход'}}{{'(' + currentUser + ')'}}</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"><span class="ellipse"></span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"><span class="ellipse"></span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"><span class="ellipse"></span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

