<div class="container wrapper">
  <div class="row p-3">
    <input [(ngModel)]="query" (ngModelChange)="queryChange()" type="text" class="col-12 form-control" placeholder="Поиск">
  </div>
  <div class="row border-bottom mb-3">
    <div class=" col-3"><p>Роли</p></div>
    <!--  <mat-form-field appearance="outline" class="col-3 justify-content-end custom-select" title="Типы знаков">-->
    <mat-select class="sign-type-select col-3 justify-content-end" [value]="0" placeholder="Все роли" (selectionChange)="setSelectedRoles($event.value)">
      <mat-option [value]="0">
        Все роли
      </mat-option>
      <mat-option [value]="type.roleName" *ngFor="let type of filterRoles">
        {{type.roleName}}
      </mat-option>
    </mat-select>
    <div class="col-6 text-right"><button class="btn btn-dark" (click)="expand = !expand">Добавить пользователя +</button></div>
  </div>
  <div class="edit-field expandable-v" [ngClass]="{'expand__500': expand}">
    <app-add-user></app-add-user>
  </div>
  <div class="row">
    <app-role-item
      class="border-top w-100"
      [query]="query"
      [item]="n"
      (confirmEdit)="displayedRoles[i] = $event"
      *ngFor="let n of displayedRoles; let i = index">
    </app-role-item>
  </div>
</div>

