<div class="container wrapper">
  <div class="row p-3">
    <input type="text" class="col-12 form-control" placeholder="Поиск">
  </div>
  <div class="header row justify-content-between">
    <p class="label col-6">Типы знаков</p>
<!--  <mat-form-field appearance="outline" class="col-3 justify-content-end custom-select" title="Типы знаков">-->
    <mat-select class="sign-type-select col-3 justify-content-end" [value]="1" placeholder="Типы знаков" (selectionChange)="setSelectedSigns($event.value)">
      <mat-option [value]="type.id" *ngFor="let type of signTypes">
        {{type.name}}
      </mat-option>
    </mat-select>
<!--  </mat-form-field>-->
  </div>
  <div class="row grid">
    <div class="cell col-3 mb-3" *ngFor="let sign of selectedSigns">
      <div class="grid-img no-img" *ngIf="!sign.image"></div>
      <img class="grid-img" [src]="sign.image" alt="Нет изображения"  *ngIf="sign.image">
      {{sign.name}}
    </div>
  </div>
</div>
