@import 'variables';
@import 'mixins';
body {
  background-color: #ECECEC;
}
* {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
input {
  background-color: #C4C4C4!important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
